#color-picker-checkbox{
    display: none;
}

#color-picker-checkbox-label{
    display: block;
    border: 1px solid;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

#color-picker-container{
    position: relative;
}

#custom-color-picker{
    position: absolute;
    display: none;
    z-index: 9;
}

#color-picker-checkbox:checked + #custom-color-picker{
    display: block;
    top: 60px;
    left: 60px;
}