#color-picker-checkbox{
    display: none;
}

#color-picker-checkbox-label{
    display: block;
    width: 30px;
    height: 30px;
    opacity: 0.25;
    border-radius: 50%;
    border: 3px solid white;
}

/* #color-picker-container{
    position: relative;
} */

#custom-color-picker{
    position: absolute;
    display: none;
    z-index: 9;
}

#color-picker-checkbox:checked ~ #color-picker-checkbox-label{
    opacity: 1;
}

#color-picker-checkbox:checked ~ #custom-color-picker{
    display: block;
    top: 3%;
    right: 3%;
}