.tool-checkbox{
    display: none;
}


.tool-checkbox-label .image{
    opacity: 0.25;
}


.tool-checkbox:checked + .tool-checkbox-label .image{
    opacity: 1.0;
}

@media only screen and (min-width:744px) {
    .tool-checkbox-label .image{
        width: 30px;
        height: 30px; 
    }
}

@media only screen and (max-width:743px) {
    .tool-checkbox-label .image{
        width: 15px;
        height: 15px; 
    }
}