.tool-checkbox {
    display: none;
}

.tool-checkbox-label .image {
    opacity: 0.65;
}

.tool-checkbox:checked + .tool-checkbox-label .image {
    opacity: 1;
}
.tool-checkbox:checked
    + .tool-checkbox-label
    .image:not(.undo):not(.redo):not(.picker) {
    outline: 2px solid white;
    outline-offset: 8px;
    border-radius: 2px;
}

.tool-checkbox-label .image {
    width: 30px;
    height: 30px;
}
