@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
  background-color: #ffffff;
}



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* @property --absolute-x {
  syntax: "<absolute-size>";
  inherits: false;
  initial-value: 50%;
} */




#tools-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 40px;
}

#painter-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 0 26px 20px;
}

@media only screen and (min-width:744px) {


  #tools-container{
    gap: 32px;
    width: 64px;
    height: 515px;
  }
  
  #painter-container{ 
    min-height: 720px;
    padding-top: 98px;   
    
  }
}

@media only screen and (max-width:743px) {
  #tools-container{
    gap: 20px;
    width: 32px;
    height: 304px;
  } 

  #painter-container{ 
    min-width: 320px;
    min-height: 568px;
    padding-top: 58px;   
  }
}