body{
  margin: 0;
  /* background: #2ec4b6 */
  /* background: grey */
}


*{box-sizing: border-box;}

#tools-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: grey;
  padding: 10px;
  border-radius: 8px;
}

#painter-container{
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 20px;
  justify-content: space-around;
  height: 100vh;
  overflow-y: scroll;
}
  
#painter-container > *{
    margin: 20px 0 20px 0;
}